:root {
  --purple-2: #7209b7;
  --title-purple: #4d067b;
  --light-2: #e2bd6b;
  --light-1: #f8e2d4;
  --purple-3: #b984db;
  --paragraph-1: Rubik, sans-serif;
  --paragraph-title: "Cormorant Infant", sans-serif;
  --flowstica-webflow-library--black: #010b15;
  --flowstica-webflow-library--white-smoke: #f7f7f7;
  --title: Righteous, sans-serif;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.header {
  box-sizing: border-box;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: var(--purple-2);
  object-fit: fill;
  justify-content: center;
  align-items: center;
  display: block;
  overflow: visible;
}

.text-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--title-purple);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--light-2);
  border-radius: 6px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Righteous, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 50px;
  display: flex;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.body {
  background-color: var(--light-1);
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 0;
  padding-right: 0;
}

.zipcode-signup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-1 {
  min-width: 250px;
}

.box-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  display: flex;
}

.container-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.form {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-button, .signup-button {
  background-color: var(--purple-3);
  font-family: var(--paragraph-1);
  color: var(--title-purple);
  border-radius: 1px;
  font-weight: 800;
}

.text-field {
  background-color: var(--light-2);
  color: var(--title-purple);
  text-align: center;
  border-radius: 0;
  min-width: 100%;
  font-family: Rubik, sans-serif;
}

.menu-button {
  background-color: var(--purple-2);
}

.icon {
  color: var(--light-2);
}

.features {
  font-family: var(--paragraph-title);
  color: var(--purple-2);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.wbs-feature-title {
  color: var(--flowstica-webflow-library--black);
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.2em;
}

.wbs-feature-icon {
  flex: none;
  height: 40px;
}

.wbs-feature-icon-wrap {
  background-color: var(--flowstica-webflow-library--white-smoke);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.wbs-feature-item {
  text-align: center;
}

.wbs-feature-items {
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section {
  padding: 6.25rem 5%;
}

.container-3 {
  grid-column-gap: 63px;
  grid-row-gap: 63px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.para1 {
  font-family: var(--paragraph-title);
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.para2, .para3 {
  text-align: center;
}

.nav-link {
  background-color: var(--purple-2);
  font-family: var(--paragraph-title);
  color: var(--light-2);
  font-size: 30px;
  font-weight: 400;
}

.nav-link-2, .nav-link-3 {
  background-color: var(--purple-2);
  font-family: var(--paragraph-title);
  color: var(--light-2);
  font-size: 30px;
}

.navbar-2 {
  background-color: var(--purple-2);
}

.efi-button {
  background-color: #000;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
}

.efi-button:hover {
  transform: translate(0, -7px);
}

.efi-big-paragraph {
  font-family: var(--paragraph-1);
  font-size: 20px;
  font-weight: 400;
}

.efi-label {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.efi-label.big {
  font-size: 16px;
  line-height: 1.8em;
}

.efi-hr-04-title-wrapper {
  margin-bottom: 25px;
}

.efi-hr-04-right-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.efi-hr-04-left-content {
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.efi-hr-04-grid {
  grid-column-gap: 40px;
  grid-template-rows: auto;
}

.efi-hr-04-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-hr-04 {
  padding: 5% 2%;
}

.detail1 {
  background-color: var(--light-2);
  font-family: var(--paragraph-title);
}

.efi-hr-01-logo-cell {
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.efi-hr-01-logos-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.efi-hr-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-hr-01-logos {
  background-color: #fff;
  padding: 50px 0%;
}

.efi-hr-01-right-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.efi-jumbo {
  font-size: 5.5vh;
  line-height: 1.1em;
}

.efi-hr-01-title-wrapper {
  margin-bottom: 25px;
}

.efi-hr-01-left-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.efi-hr-01-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
}

.efi-hr-01 {
  padding: 5%;
}

.unsplash-image {
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
  height: auto;
  display: block;
}

.learn-more-button {
  background-color: var(--purple-2);
  font-family: var(--paragraph-1);
  color: var(--light-2);
}

.efi-footer-link {
  color: var(--title-purple);
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s;
  display: block;
}

.efi-footer-link:hover {
  opacity: .5;
}

.efi-footer-title {
  color: var(--title-purple);
  margin-bottom: 22px;
  font-size: 17px;
}

.efi-button-2 {
  background-color: #000;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button-2:hover {
  transform: translate(0, -7px);
}

.efi-button-2.invert {
  filter: invert();
}

.efi-paragraph-light {
  color: var(--purple-2);
  font-size: 15px;
}

.efi-footer-title-large {
  color: var(--title-purple);
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}

.efi-title-wrap-large {
  margin-bottom: 32px;
}

.efi-ftr-03-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
}

.efi-ftr-03-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ftr-03 {
  background-color: var(--light-1);
  padding: 100px 5%;
}

.efi-text-rights-short {
  color: #1e283380;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.efi-ftr-05-footer-block {
  width: 50%;
}

.efi-footer-link-centre {
  color: #222;
  margin-left: 14px;
  margin-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
  display: block;
}

.efi-ftr-05-link-wrap {
  display: flex;
}

.efi-ftr-05-footer-horizontal {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.efi-ftr-05-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ftr-05 {
  background-color: var(--light-1);
  padding: 75px 2%;
}

.navbar-3 {
  background-color: var(--purple-2);
}

.nav-link-4 {
  font-family: var(--title);
  color: var(--light-2);
  transition: background-color .2s;
}

.nav-link-4:hover {
  background-color: var(--purple-3);
  color: var(--light-1);
  box-shadow: 0 2px 10px 1px #0003;
}

.nav-link-5 {
  font-family: var(--title);
  color: var(--light-2);
  transition: background-color .2s;
}

.nav-link-5:hover {
  background-color: var(--purple-3);
  color: var(--light-1);
  box-shadow: 0 2px 9px #0003;
}

.nav-link-5.home-button.w--current, .nav-link-5.browse-button.w--current {
  color: var(--light-2);
}

.nav-link-5.login-button {
  background-color: var(--purple-2);
}

.nav-link-5.login-button:hover {
  background-color: var(--purple-3);
}

.nav-link-5.login-button.w--current {
  color: var(--light-2);
}

.nav-link-6 {
  background-color: var(--purple-2);
  font-family: var(--title);
  color: var(--light-2);
}

.text-block-2 {
  font-family: var(--title);
  color: var(--title-purple);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--light-2);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  display: block;
}

.nav-menu {
  justify-content: center;
  min-width: 100%;
  display: flex;
}

.container-4 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-around;
  display: flex;
}

.fn-error-message {
  text-align: center;
  background-color: #c33939;
  border-radius: 8px;
  margin-top: 24px;
}

.fn-success-message-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  display: flex;
}

.fn-success-message {
  color: #0f1213;
  background-color: #df0;
  border-radius: 8px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
}

.fn-button-form {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 12px 42px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  transition: background-color .25s;
  display: flex;
}

.fn-button-form:hover {
  background-color: #3e4545;
}

.fn-checkbox {
  border: 1px solid #687373;
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-right: 8px;
}

.fn-checkbox.w--redirected-checked {
  background-color: #df0;
  background-image: url('../images/Vector-1-Stroke.svg');
  background-size: 8px 8px;
}

.fn-checkbox.w--redirected-focus {
  box-shadow: none;
}

.fn-checkbox-wrapper {
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.fn-form-wrapper {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fn-field-message {
  color: #ecf0ef;
  background-color: #0000;
  border: 1px solid #3e4545;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  min-height: 160px;
  max-height: 160px;
  margin-bottom: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 1em;
}

.fn-field-message:hover {
  border-color: #cdd3d2;
}

.fn-field-message:active, .fn-field-message:focus {
  border-color: #df0;
}

.fn-field-message::placeholder {
  color: #ecf0ef;
}

.fn-field {
  color: #ecf0ef;
  background-color: #0000;
  border: 1px solid #3e4545;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  min-height: 42px;
  margin-bottom: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 1em;
  transition: border-color .25s;
}

.fn-field:hover {
  border-color: #cdd3d2;
}

.fn-field:active, .fn-field:focus {
  border-color: #df0;
}

.fn-field::placeholder {
  color: #ecf0ef;
}

.fn-form-standard {
  flex-direction: column;
  display: flex;
}

.fn-form {
  flex-direction: column;
  align-items: stretch;
  margin-top: 0;
  display: flex;
}

.fn-paragraph-no-margin {
  color: var(--light-1);
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
}

.fn-heading-2 {
  font-family: var(--title);
  color: var(--light-2);
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 45px;
  line-height: 1.2em;
}

.fn-label-small {
  color: #df0;
  margin-bottom: 24px;
  line-height: 1em;
}

.fn-column-center {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.fn-container-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.fn-section {
  background-color: var(--purple-3);
  color: var(--light-2);
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Open Sans, sans-serif;
  display: flex;
}

.button {
  background-color: var(--purple-2);
}

.fn-banner-image-three {
  object-fit: contain;
  width: 246px;
  height: 246px;
  position: absolute;
  inset: auto -55px -61px auto;
}

.fn-banner-image-two {
  object-fit: contain;
  width: 172px;
  height: 172px;
  position: absolute;
  inset: -67px 186px auto auto;
}

.fn-banner-image-one {
  object-fit: contain;
  width: 287px;
  height: 287px;
  position: absolute;
  inset: auto auto -62px -44px;
}

.fn-button-dark {
  background-color: var(--purple-3);
  color: var(--title-purple);
  border: 1px solid #000;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  transition: color .25s, background-color .25s;
}

.fn-button-dark:hover {
  color: #0f1213;
  background-color: #df0;
  border-color: #0f1213;
}

.fn-button-dark.w--current {
  background-color: #1d1f1e;
}

.fn-button-dark.w--current:hover {
  background-color: #0000;
}

.fn-paragraph-dark {
  font-family: var(--paragraph-1);
  color: #1d1f1e;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-cta-banner-column {
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 532px;
  display: flex;
}

.fn-cta-banner {
  background-color: var(--purple-3);
  color: #1d1f1e;
  text-align: center;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  position: relative;
}

.fn-container {
  width: 100%;
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
}

.fn-section-2 {
  color: #ecf0ef;
  background-color: #1d1f1e;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Open Sans, sans-serif;
  display: flex;
}

.fn-section-2.overflow-none {
  background-color: var(--light-1);
  overflow: hidden;
}

.text-block-3 {
  text-align: left;
}

.bold-text {
  color: var(--light-2);
}

.fn-link-arrow {
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 18px;
  margin-left: 10px;
  display: flex;
}

.fn-link-with-arrow {
  color: #df0;
  align-items: center;
  margin-top: auto;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: underline;
  display: flex;
}

.spacer-s {
  width: 24px;
  height: 24px;
}

.fn-column {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.fn-author-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.fn-author-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #ecf0ef;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 1.6em;
  display: flex;
}

.fn-paragraph {
  color: #cdd3d2;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.6em;
}

.testimonials-stars {
  object-fit: contain;
  width: 164px;
  height: 24px;
  margin-bottom: 24px;
}

.fn-slide-item-wrapper-testimonial {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #939b9b;
  background-color: #0000;
  border: 1px solid #687373;
  border-radius: 12px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.fn-testimonial-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fn-heading-3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.image-2 {
  border: 4px solid var(--light-1);
}

.efi-label-2 {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.efi-paragraph {
  font-family: var(--paragraph-1);
  color: var(--flowstica-webflow-library--black);
  text-align: left;
  font-size: 20px;
}

.efi-ft-04-grid-cell {
  grid-column-gap: 50px;
  grid-template-rows: auto;
}

.efi-ft-04-grid-wrapper {
  grid-row-gap: 100px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

.efi-ft-04-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-04 {
  padding: 150px 5% 100px;
}

.efi-h4-2 {
  font-family: var(--paragraph-title);
  color: var(--title-purple);
  font-size: 35px;
}

.efi-ft-01-feature-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-ft-01-image-wrapper {
  margin-bottom: 25px;
}

.efi-ft-01-cell {
  background-color: var(--light-1);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.efi-ft-01-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.efi-ft-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-01 {
  background-color: var(--light-2);
  padding: 60px 5%;
}

.efi-ft-06-image {
  margin-bottom: 15px;
}

.efi-ft-06-cell {
  color: #fff;
}

.efi-ft-06-features {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.efi-h2 {
  font-family: var(--title);
  color: var(--purple-2);
  text-align: center;
  margin-bottom: 20px;
}

.efi-ft-06-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  place-items: center;
  margin-bottom: 125px;
}

.efi-ft-06-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-06 {
  background-color: var(--purple-3);
  padding: 150px 5% 100px;
}

.form-2 {
  display: flex;
}

.container-5 {
  padding-top: 61px;
  padding-bottom: 61px;
}

.form-block {
  justify-content: center;
  display: flex;
}

.form-3 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  display: flex;
}

.submit-button {
  background-color: var(--purple-2);
  font-family: var(--title);
}

.section {
  background-color: var(--light-1);
}

.text-field-2 {
  font-family: var(--paragraph-1);
}

.container-6 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  display: flex;
}

.heading {
  font-family: var(--paragraph-title);
  color: var(--purple-2);
}

.input-label {
  color: #5e5e5e;
  margin-top: 16.5px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
}

.flex-column {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 90vh;
  display: flex;
}

.divider-text {
  color: #8b8b8b;
  text-align: center;
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  display: inline;
}

.bank-image {
  max-width: 80px;
  max-height: 70px;
}

.space {
  width: 10px;
  height: 10px;
}

.search-svg {
  opacity: .5;
  flex: 1;
  max-width: 11px;
  max-height: 11px;
  position: absolute;
  inset: 25% auto auto 10px;
}

.bank-text {
  padding-top: 10px;
  font-size: 12.5px;
}

.add-to-order {
  border: 1px solid #dcdcdc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 40px -16px -1px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 12.5px;
}

.stripe-cb {
  border-color: #e7e7e7;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 30px;
  box-shadow: 1px 1px 4px #00000012;
}

.product-wrap {
  margin-top: 32px;
  font-size: 17px;
  line-height: 23px;
}

.footer-link {
  color: #8b8b8b;
  border-bottom: 1px dotted #8b8b8b;
  margin-right: 10px;
}

.add-image {
  width: 42px;
  max-width: 42px;
  height: 42px;
  max-height: 42px;
  margin-right: 13px;
  display: none;
}

.pm-tab {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  width: 49%;
  padding: 9px 12px 5px;
}

.pm-tab.w--current {
  background-color: #fff;
  border-color: #000;
  box-shadow: 0 0 0 3px #c3ddf1, 1px 1px 4px #00000012;
}

.total-row {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 16px;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
}

.div-line {
  background-color: #e7e7e7;
  flex: 1;
  height: 1px;
}

.bank-link {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  height: 111.336px;
  margin-bottom: 0;
  padding: 7px 12px;
  display: flex;
  box-shadow: 0 1px 1.5px #0000000d, 2px 0 4px #00000012;
}

.payment {
  background-color: var(--light-1);
  font-family: var(--paragraph-1);
  color: var(--title-purple);
  padding-bottom: 60px;
  font-size: 14px;
  font-weight: 300;
}

.grey-font {
  color: #8b8b8b;
}

.frequency {
  color: #8b8b8b;
  height: 22px;
  font-size: 13.5px;
}

.frequency.dark {
  color: #303030;
}

.right-section {
  z-index: 1;
  background-color: #fff;
  width: 50%;
  min-height: 100vh;
  padding-top: 40px;
  position: fixed;
  inset: 0% 0% 0% auto;
  box-shadow: 0 0 50px #0000002e;
}

.pm-heading {
  color: #5e5e5e;
  padding-top: 7px;
  padding-bottom: 16px;
  font-size: 16.5px;
  font-weight: 400;
}

.highlight {
  color: #0e6245;
  background-color: #cbf4c9;
  margin-top: -3px;
  margin-bottom: -3px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 20px;
  display: inline-block;
}

.save-text {
  font-size: 14px;
  line-height: 25px;
}

.vert-div {
  background-color: #e7e7e7;
  width: 1px;
  height: 15px;
  margin-left: 20px;
  margin-right: 18px;
}

.subtotal-row {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
  padding-top: 11px;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
}

.bank-grid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 8px;
}

.upsell-toggle-dot {
  background-color: #fff;
  border: 1px solid #2a2f451f;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-shadow: 0 1px 3px #0000000d;
}

.upsell-toggle-dot.on {
  border-color: #1c9064;
  margin-left: 12px;
}

.promo-box {
  color: #1e73bc;
  border: 1px solid #e7e7e7;
  border-style: solid none;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
}

.flex-row {
  display: flex;
  position: relative;
}

.flex-row.footer {
  color: #8b8b8b;
  align-items: center;
  margin-top: 40px;
  font-size: 12px;
  line-height: 16px;
}

.flex-row.z10 {
  z-index: 10;
  position: relative;
}

.flex-row.center {
  align-items: center;
}

.save {
  color: #1a1a1ae6;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 6px 11px 15px 38px;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  position: relative;
}

.bg-image {
  z-index: 0;
  opacity: 1;
  background-image: url('../images/Screen-Shot-2022-07-26-at-1.08.03-PM.jpg');
  background-position: 135.5px 6px;
  background-repeat: no-repeat;
  background-size: 980px;
  display: none;
  position: absolute;
  inset: 0%;
}

.container-7 {
  width: 100%;
  max-width: 1086px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.container-7._380 {
  width: 380px;
  padding-top: 33px;
}

.container-7._380.left {
  width: 372px;
  padding-top: 53px;
}

.gpay-svg {
  flex: 1;
  max-width: 50px;
}

.total {
  font-size: 17px;
  font-weight: 600;
}

.expand {
  color: #5e5e5e;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 14px;
  margin-top: 5px;
  margin-left: 4px;
  display: flex;
}

.button-2 {
  background-color: var(--purple-2);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 44px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
  display: flex;
}

.button-2.gpay {
  background-color: #000;
  padding-top: 3px;
}

.button-2.gpay:hover {
  background-color: #3b4043;
}

.grey-box {
  background-color: #f3f3f3;
  border: 1px solid #dcdcdc;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.input {
  letter-spacing: .02em;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  height: 37px;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 15px;
  box-shadow: 0 1px 1.5px #0000000d, 2px 0 4px #00000012;
}

.input:hover {
  box-shadow: 0 1px 1.5px #0000001a, 2px 0 4px #0000001a;
}

.input.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input.bottom.phone {
  padding-left: 38px;
}

.input.bottom-left {
  border-radius: 0 0 0 6px;
}

.input.search {
  padding-left: 28px;
}

.input.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.input.disabled {
  color: #303030;
  background-color: #f7f7f7;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 21px;
  display: flex;
}

.input.bottom-right {
  border-radius: 0 0 6px;
}

.pm-tabs {
  justify-content: space-between;
  width: 100%;
  padding-bottom: 8px;
  display: flex;
}

.terms {
  color: #5e5e5e;
  text-align: center;
  padding-top: 14px;
  font-size: 13.5px;
}

.phone-input {
  z-index: 2;
  margin-top: -6px;
  position: relative;
}

.large-frequency {
  color: #8b8b8b;
  padding-top: 4px;
  font-size: 14px;
  line-height: 19px;
}

.normal {
  font-weight: 400;
}

.normal.grey {
  color: #5e5e5e;
}

.pay-another-way {
  justify-content: center;
  align-items: center;
  height: 82px;
  display: flex;
}

.flag-svg {
  flex: 1;
  max-width: 16px;
  max-height: 16px;
  position: absolute;
  inset: 29% auto auto 3%;
}

.cta {
  color: #8b8b8b;
  font-size: 17px;
}

.big-price {
  padding-right: 10px;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.2em;
}

._100 {
  width: 100%;
}

.card-svg {
  flex: 1;
  max-width: 16px;
  max-height: 16px;
}

.arrow-svg {
  opacity: .5;
  color: #8b8b8b;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 6px;
  display: flex;
  position: absolute;
  left: -22px;
}

.link {
  color: #0074d4;
}

.home-text {
  color: #303030;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}

.relative {
  position: relative;
}

.home-svg {
  color: #8b8b8b;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-left: 2px;
  padding: 6px;
  display: flex;
  box-shadow: 1px 1px 4px #00000012;
}

.promo-link {
  color: #0074d4;
  font-weight: 400;
}

.plan-row {
  border: 1px solid #dcdcdc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px -16px -1px;
  padding: 16px;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
}

.plan-row.no-upsell {
  border-style: none;
}

.plan-row.no-upsell.cross-sell {
  margin-top: -16px;
}

.plan-row.no-upsell.fee {
  margin-bottom: -32px;
}

.upsell-toggle {
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  border-radius: 100px;
  width: 28px;
  height: 16px;
  margin-right: 8px;
  padding-top: 1px;
  padding-left: 1px;
  display: inline-block;
  box-shadow: inset 0 0 3px #0000000d;
}

.upsell-toggle.on {
  background-color: #24b47e;
  border-color: #1c9064;
}

.stripe-svg {
  opacity: .5;
  flex: 1;
  max-width: 33px;
  max-height: 16px;
  padding-top: 2px;
  padding-left: 3px;
}

.previous-button {
  opacity: .35;
  color: #000;
  text-indent: -2px;
  border-bottom: 1px dashed #0006;
  flex: none;
  align-self: center;
  padding: 5px 0;
  font-size: 16px;
  transition: opacity .2s ease-in;
}

.previous-button:hover {
  opacity: 1;
  border-bottom-color: #0000008c;
}

.checkbox-wrapper {
  z-index: 1;
  background-color: #e1e4e940;
  background-image: url('../images/unchecked.png');
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: 25px;
  border: 2px solid #cbced2;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  transition: border-color .2s ease-in;
  display: block;
  position: relative;
}

.checkbox-wrapper:hover {
  border-color: #0000004d;
}

.checkbox-wrapper:active {
  transform: scale(1.02);
}

.checkbox-wrapper.checkbox-square {
  background-position: 50%;
  background-size: 20px;
  border-radius: 5px;
  flex: none;
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
}

.checkbox-label {
  z-index: 3;
  opacity: .45;
  text-align: right;
  letter-spacing: 0;
  text-transform: none;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 55px;
  padding-right: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  line-height: 1em;
  display: flex;
  position: absolute;
  inset: 0;
}

.checkbox-label.no-label {
  padding-left: 0;
  padding-right: 0;
}

.heading-2 {
  font-family: var(--title);
  color: var(--light-1);
  align-self: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: 800;
  line-height: 1.3em;
}

.form-wrapper {
  background-color: #fff;
  border: 5px solid #00000026;
  border-radius: 25px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: block;
  box-shadow: 0 0 100px #0000004d;
}

.checkbox-ticker {
  z-index: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  inset: 0;
}

.error-message {
  color: #fff;
  text-align: center;
  background-color: #eb4d8c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1em;
  line-height: 1em;
}

.form-content {
  width: 60%;
  margin-bottom: -20px;
}

.form-content.final {
  margin-top: -20px;
}

.form-title-line {
  background-color: #000;
  border-radius: 3px;
  width: 25px;
  height: 4px;
  margin: 25px auto 50px;
  display: block;
}

.step-paginator {
  background-color: #0000;
  height: 100%;
  position: relative;
}

.collaborate-wrap {
  background-color: var(--purple-2);
  font-family: var(--title);
  min-height: 100vh;
  padding-bottom: 0;
}

.previous {
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100px;
  height: 35px;
  margin: auto auto 30px 30px;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
}

.checkbox-active-overlay {
  z-index: 2;
  opacity: 0;
  background-color: #edeff0;
  background-image: url('../images/checked.png');
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: 25px;
  border: 2px solid #6c33da;
  border-radius: 10px;
  height: auto;
  margin: -2px;
  position: absolute;
  inset: 0;
}

.checkbox-active-overlay.square-overlay {
  background-position: 50%;
  background-size: 20px;
  border-radius: 5px;
}

.extra-option-wrap {
  color: #00000059;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  display: flex;
}

.sub-heading {
  font-family: var(--paragraph-1);
  color: var(--light-2);
  letter-spacing: .5px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.5em;
  display: block;
}

.hero-collaborate {
  color: #fff;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

.step {
  background-color: #f0f1f3;
  border-radius: 20px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  position: static;
}

.form-section-title {
  font-family: var(--title);
  margin-bottom: 10px;
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.5em;
}

.collaborate-form-step {
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #0000001a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0 75px;
  display: flex;
  position: relative;
}

.field {
  color: #6c33da;
  text-align: left;
  background-color: #e1e4e940;
  border: 2px solid #cbced2;
  border-radius: 10px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px 25px;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5em;
  transition: border .2s ease-in;
}

.field:focus {
  border-color: #6c33da;
  font-weight: 600;
}

.field.area {
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}

.next {
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 159px;
  height: 47px;
  margin: auto auto 25px;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
}

.step-counter {
  color: #00000059;
  margin-bottom: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-link {
  opacity: .7;
  color: #fff;
  background-image: url('../images/twitter-icon-white.svg');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  font-size: 15px;
  line-height: 0;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

.social-link:hover {
  opacity: 1;
}

.success-message {
  color: #fff;
  letter-spacing: 1px;
  background-color: #3cd3ad;
  background-image: linear-gradient(135deg, #3cd3ad, #4cb8c4);
  border-radius: 20px;
  padding: 50px;
  font-size: 1.2em;
  line-height: 1.5em;
}

.next-button {
  background-color: var(--light-2);
  border-radius: 5px;
  flex: 1;
  align-self: center;
  padding: 15px 20px;
  font-size: 20px;
  transition: background-color .2s ease-in;
}

.next-button:hover {
  background-color: #6c33da;
}

.submit-button-2 {
  box-shadow: none;
  letter-spacing: 1px;
  background-color: #3cd3ad;
  border-radius: 10px;
  width: 60%;
  height: auto;
  margin-bottom: -80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1em;
  transition: background-color .2s ease-in, box-shadow .2s ease-in;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.submit-button-2:hover {
  background-color: #6c33da;
  box-shadow: 0 0 20px #0000004d;
}

.social {
  text-align: center;
  margin-top: 150px;
  padding-bottom: 50px;
}

.requests {
  display: flex;
}

.button-3 {
  background-color: var(--purple-2);
  border-radius: 5px;
  min-width: 100%;
  box-shadow: 0 2px 5px #0003;
}

.list-section {
  padding-top: 50px;
  padding-bottom: 30px;
}

.search-2 {
  align-items: center;
  display: flex;
}

.search {
  border-radius: 8px;
  height: 46px;
  margin-top: 10px;
  margin-right: 19px;
}

.sort {
  float: none;
  color: #fff;
  text-align: center;
  background-color: #1991eb;
  border-radius: 4px;
  height: 46px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px 25px;
  line-height: 24px;
  transition: color .2s, box-shadow .2s, background-color .2s, transform .4s;
  display: inline-block;
}

.sort:hover {
  color: #fff;
  background-color: #1386dd;
  border-color: #0c6eb8;
  transform: translate(0, -2px);
  box-shadow: 0 1px 3px #0000001a;
}

.sort:active {
  transform: translate(0, -1px);
  box-shadow: 0 1px 1px #0000001a;
}

.grid {
  grid-row-gap: 48px;
  grid-template-rows: auto auto auto;
  grid-template-columns: .75fr 1fr 1fr;
}

.ikonik-tp9xag {
  color: #23f207;
}

.ikonik-fivqpi {
  color: #f2071f;
}

.path-urbh1 {
  box-shadow: 0 2px 5px #0003;
}

.ikonik-aqfq1 {
  background-color: var(--light-1);
  color: #f2071f;
  border-radius: 100px;
  box-shadow: 0 2px 5px #0003;
}

.ikonik-6irp5 {
  background-color: var(--light-1);
  color: #07f242;
  border-radius: 30px;
  box-shadow: 0 2px 5px #0003;
}

.div-block {
  background-color: var(--purple-3);
  font-family: var(--paragraph-1);
  border-radius: 5px;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 25px 26px;
  box-shadow: 0 2px 9px 6px #0003;
}

.heading-3 {
  background-color: var(--light-1);
  font-family: var(--title);
  text-align: center;
  border-radius: 5px;
}

.text-block-4, .text-block-5, .text-block-6 {
  background-color: var(--light-2);
  text-align: center;
  border-radius: 10px;
}

.div-block-2, .div-block-3, .text-block-7 {
  text-align: center;
}

@media screen and (min-width: 1920px) {
  .efi-hr-01-logos {
    background-color: #fff;
  }

  .efi-hr-01-right-content {
    background-position: 0%;
  }
}

@media screen and (max-width: 991px) {
  .text-field {
    background-color: var(--light-2);
    text-align: center;
    font-weight: 700;
  }

  .menu-button {
    background-color: var(--purple-2);
  }

  .icon {
    color: var(--light-2);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: var(--purple-2);
  }

  .wbs-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .efi-hr-04-right-content {
    text-align: center;
    align-items: center;
  }

  .efi-hr-04-left-content {
    min-height: 90vw;
  }

  .efi-hr-04-grid {
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }

  .efi-hr-04 {
    padding: 7% 5% 10%;
  }

  .efi-hr-01-logos-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .efi-jumbo {
    font-size: 65px;
  }

  .efi-hr-01-left-content {
    padding-right: 0%;
  }

  .efi-hr-01-grid {
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
  }

  .efi-hr-01 {
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .efi-text-rights-short {
    text-align: center;
  }

  .efi-ftr-05-footer-horizontal {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .fn-heading-2 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .fn-container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fn-banner-image-three, .fn-banner-image-two, .fn-banner-image-one {
    display: none;
  }

  .fn-button-dark:hover {
    color: #df0;
    background-color: #1d1f1e;
  }

  .fn-cta-banner-column {
    width: 100%;
    max-width: none;
  }

  .fn-cta-banner {
    padding: 60px;
  }

  .fn-section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fn-testimonial-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .fn-heading-3 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .efi-ft-04 {
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .efi-ft-01-grid {
    grid-template-columns: 1fr;
  }

  .efi-ft-01 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .efi-ft-06-features {
    grid-template-columns: 1fr 1fr;
  }

  .efi-ft-06 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .checkbox-wrapper {
    width: 80%;
    height: 50px;
  }

  .checkbox-label {
    padding-left: 60px;
    font-size: 1em;
  }

  .heading-2 {
    font-size: 2.7em;
    line-height: 1.2em;
  }

  .extra-option-wrap {
    text-align: left;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: .9em;
    line-height: 1.1em;
  }

  .sub-heading {
    font-size: 1.3em;
    line-height: 1.5em;
  }

  .collaborate-form-step {
    min-height: 565px;
  }
}

@media screen and (max-width: 767px) {
  .wbs-feature-items {
    grid-template-columns: 1fr 1fr;
  }

  .wbs-section {
    padding: 2rem 2%;
  }

  .container-3 {
    flex-flow: column;
  }

  .efi-jumbo {
    font-size: 50px;
  }

  .efi-ftr-03-grid {
    grid-row-gap: 50px;
    grid-template-rows: auto auto;
    grid-template-columns: 4fr;
  }

  .efi-text-rights-short {
    text-align: center;
  }

  .efi-ftr-05-footer-horizontal {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fn-heading-2 {
    font-size: 34px;
  }

  .fn-label-small {
    margin-bottom: 12px;
  }

  .fn-container-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .fn-button-dark {
    width: 100%;
  }

  .fn-cta-banner {
    padding: 12px;
  }

  .fn-section-2 {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .fn-paragraph {
    margin-bottom: 24px;
  }

  .fn-testimonial-wrapper {
    grid-template-columns: 1fr;
  }

  .fn-heading-3 {
    font-size: 34px;
  }

  .efi-ft-04-grid-cell, .efi-ft-01-grid, .efi-ft-06-grid {
    grid-template-columns: 1fr;
  }

  .upsell-toggle-dot {
    left: 5px;
  }

  .checkbox-label {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .heading-2 {
    font-size: 2.2em;
    line-height: 1.4em;
  }

  .form-content {
    width: 90%;
  }

  .collaborate-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .extra-option-wrap {
    justify-content: center;
  }

  .sub-heading {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .hero-collaborate {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-8 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 479px) {
  .wbs-feature-items {
    grid-template-columns: 1fr;
  }

  .efi-hr-01-logos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .efi-jumbo {
    font-size: 45px;
  }

  .efi-ftr-03-grid {
    grid-row-gap: 65px;
  }

  .efi-ftr-05-link-wrap, .efi-ftr-05-footer-horizontal {
    flex-direction: column;
  }

  .fn-author-image {
    flex: none;
  }

  .fn-author-wrapper {
    font-size: 14px;
  }

  .testimonials-stars {
    object-position: 0% 50%;
    height: 18px;
  }

  .fn-slide-item-wrapper-testimonial {
    padding: 16px;
  }

  .efi-ft-06-features {
    grid-template-columns: 1fr;
  }

  .upsell-toggle {
    display: none;
  }

  .checkbox-wrapper {
    background-position: 10px;
    background-size: 20px;
    height: 40px;
    margin-bottom: 15px;
  }

  .mask {
    height: 100%;
    position: static;
  }

  .checkbox-label {
    padding-left: 40px;
    padding-right: 20px;
    font-size: 1em;
  }

  .heading-2 {
    margin-bottom: 14px;
    font-size: 1.9em;
  }

  .form-wrapper {
    padding: 0;
  }

  .form-content {
    width: 100%;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }

  .step-paginator {
    height: auto;
    padding-bottom: 0;
  }

  .collaborate-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }

  .previous {
    max-width: 75px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    inset: auto 0 0;
  }

  .checkbox-active-overlay {
    background-position: 10px;
    background-size: 20px;
  }

  .extra-option-wrap {
    justify-content: center;
  }

  .sub-heading {
    font-size: 1em;
    line-height: 1.4em;
  }

  .hero-collaborate {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-section-title {
    font-size: 2em;
    line-height: 1.3em;
  }

  .collaborate-form-step {
    width: 100%;
    min-height: 555px;
    margin-bottom: 140px;
    padding: 50px 10px;
  }

  .next {
    margin-bottom: 50px;
  }

  .submit-button-2 {
    margin-bottom: -85px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .sort {
    text-align: center;
    display: block;
  }
}

#w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8c8-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8ca-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f5-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f7-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4633-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4635-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54cc-b0857c68 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54d5-b0857c68 {
  grid-area: 2 / 4 / 3 / 10;
}

#w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311d-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311f-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c0fa133f-ded7-241e-714f-4026e0ef14a2-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-c0fa133f-ded7-241e-714f-4026e0ef14a4-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c3-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c5-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1a7-28d0da3b {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: start;
}

#w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1af-28d0da3b, #w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1b7-28d0da3b, #w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1bf-28d0da3b {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_695116c8-beb9-5651-82b5-7b903838a7f0-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a7f8-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a800-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a808-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a810-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a818-28d0da3b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54cc-c4009ed5 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54d5-c4009ed5 {
  grid-area: 2 / 4 / 3 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54cc-f1e1622c, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-39ebe521 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54d5-39ebe521 {
  grid-area: 2 / 4 / 3 / 10;
}

#w-node-_31f73496-5122-12a1-7703-b93310e56f08-f0464509, #w-node-_31f73496-5122-12a1-7703-b93310e56f0a-f0464509, #w-node-_31f73496-5122-12a1-7703-b93310e56f0c-f0464509 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_31f73496-5122-12a1-7703-b93310e56f0e-f0464509 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_31f73496-5122-12a1-7703-b93310e56f10-f0464509, #w-node-_31f73496-5122-12a1-7703-b93310e56f12-f0464509 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1920px) {
  #w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8c8-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8ca-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f5-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f7-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4633-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4635-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311d-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311f-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-c0fa133f-ded7-241e-714f-4026e0ef14a2-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-c0fa133f-ded7-241e-714f-4026e0ef14a4-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c3-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c5-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8c8-0e19fb12, #w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f5-0e19fb12, #w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4633-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-b0857c68 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-b0857c68 {
    grid-area: 2 / 2 / 3 / 8;
  }

  #w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311d-a2c34768, #w-node-c0fa133f-ded7-241e-714f-4026e0ef14a2-a2c34768, #w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c3-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-c4009ed5 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-c4009ed5 {
    grid-area: 2 / 2 / 3 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-f1e1622c, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-39ebe521 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-39ebe521 {
    grid-area: 2 / 2 / 3 / 8;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-b0857c68, #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-b0857c68, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-c4009ed5, #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-c4009ed5, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-f1e1622c, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-39ebe521, #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-39ebe521 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }
}


